<h2 class="text-center">Employee list</h2>

<div class="overflow-x-auto relative border border-black rounded-xl h-100 m-16">
  <table class="w-full text-sm text-left text-gray-700">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 pt-1 pb-1">
      <tr>
        <th scope="col" class="py-3 px-6">First Name</th>
        <th class="py-3 px-6">Last Name</th>
        <th class="py-3 px-6">Email Id</th>
        <th class="py-3 px-6">Actons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let singleEmployee of employees" class="bg-white border-b">
        <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
          {{ singleEmployee.firstName }}
        </td>
        <td class="py-4 px-6">{{ singleEmployee.lastName }}</td>
        <td class="py-4 px-6">{{ singleEmployee.emailId }}</td>
        <td class="py-6 px-6">
          <button
            (click)="updateEmployee(singleEmployee.id)"
            class="p-3 rounded-md bg-blue-600 hover:bg-blue-700 text-white"
          >
            Update
          </button>
          <button
            (click)="deleteEmployee(singleEmployee.id)"
            class="p-3 rounded-md bg-red-600 hover:bg-red-700 text-white ml-3"
          >
            delete
          </button>
          <button
            (click)="employeeDetails(singleEmployee.id)"
            class="p-3 rounded-md bg-green-600 hover:bg-green-700 text-white ml-3"
          >
            Views
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
